body {
	background-color: #ccc;
}

.login {
	background-color: #aaa;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: auto;
	margin-top: 20%;
}

.login input {
	margin-bottom: 15px;
	padding: 5px;
	
}

.submit {
	display: block;
	margin: auto;
}